---
import Layout from "../layouts/Layout.astro";
import Hero from "./Hero.astro";
import NavBar from "./NavBar.astro";
---

<Layout title="Tecnologia Tandil | Landing Page" id="top">
  <div class="bg-[url('/Background.png')] bg-cover bg-center h-screen w-full">
    <!-- Componente NavBar -->
    <NavBar />
    <!-- Hero -->
    <Hero />
  </div>
</Layout>
