<div class="w-4/5 flex flex-col md:flex-row justify-center items-center">
  <!-- Container Imagen -->
  <div class="flex justify-center items-center mt-8">
    <img
      src="./phone.png"
      alt="Imagen de un celular para el hero de la pagina"
      class="w-3/4 md:w-full animate-slideIn"
    />
  </div>
  <!-- Container de Texto -->
  <div class="flex flex-col justify-center text-center items-start">
    <div
      class="text-4xl lg:text-6xl 2xl:text-7xl font-nunito font-black
      flex flex-col justify-center items-start"
    >
      <h1 class="animate-slideTop delay-[200ms]">Bienvenido a</h1>
      <h2 class="text-primary animate-slideTop delay-[400ms]">Tecnologia</h2>
      <h2 class="animate-slideTop delay-[600ms]">Tandil</h2>
    </div>
    <button
      class="bg-primary rounded-lg py-2.5 px-3 text-xl md:text-2xl
      font-black text-white font-nunito mt-3 md:mt-6 transition-all duration-300
      hover:bg-primary/70 animate-slideTop delay-[800ms]"
    >
      Conócenos
    </button>
  </div>
</div>
