---
const navItems = [
  {
    title: "Inicio",
    label: "inicio",
    url: "/#top",
  },
  {
    title: "Sobre Nosotros",
    label: "Sobre Nostros",
    url: "/#about",
  },
  {
    title: "Productos",
    label: "Productos",
    url: "/#products",
  },
];
---

<header
  class="w-full flex flex-col md:flex-row justify-between items-center pt-4 px-12 xl:px-64"
>
  <!-- Logo -->
  <div>
    <img
      src="./Logo.png"
      alt="Imagen del logo de Tecnologia Tandil"
      class="transition-all duration-300 hover:scale-105"
      loading="lazy"
    />
  </div>
  <nav class="flex justify-center items-center">
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition-all duration-300
           hover:text-primary hover:-translate-y-1"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
  <a
    href="/#contact"
    class="bg-primary text-white py-2 px-4 rounded-full
    transition-all duration-300 hover:bg-primary/70 hover:-translate-y-1"
  >
    Contacto</a
  >
</header>
